# 1. Файлы базы данных и Python
*.sqlite3
*.pyc
__pycache__/

# 2. Локальные настройки и переменные окружения
.env
.env.local
.env.prod
secrets.json

# 3. Медиафайлы (загруженные пользователями)
media/

# 4. Статические файлы (если собираются автоматически)
staticfiles/

# 5. IDE и системные файлы
.idea/
.vscode/
.DS_Store